SERVICE_NAME="Dev Challenge"

APP_TIER="web"

DEBUG="false"

DEFAULT_TIMEOUT=10

SERVER_PORT=8080

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/challenge?sslmode=disable"

REDIS_HOST="127.0.0.1:6379"

REDIS_DB=0

DEFAULT_QUEUE="tasks"
